@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Commissioner:wght@100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Homemade+Apple&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=League+Script&family=Mrs+Saint+Delafield&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+RO:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&family=Signika+Negative:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Commissioner:wght@100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Gelasio:ital,wght@0,400..700;1,400..700&family=Homemade+Apple&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=League+Script&family=Mrs+Saint+Delafield&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+RO:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&family=Signika+Negative:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Commissioner:wght@100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Gelasio:ital,wght@0,400..700;1,400..700&family=Homemade+Apple&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=League+Script&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Mrs+Saint+Delafield&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+RO:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&family=Signika+Negative:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Commissioner:wght@100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Gelasio:ital,wght@0,400..700;1,400..700&family=Homemade+Apple&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=League+Script&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Mrs+Saint+Delafield&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+RO:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&family=Signika+Negative:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html{
  scroll-behavior: smooth;
}

#burger{
  display: none;
}

.menu-nav{
  display: flex;
  justify-content: space-between;
  gap: 36px;
  position: relative;
}

.nav {
  flex-direction: column;
  align-items: end;
  gap: 96px;
  display: none;
  position: absolute;
  top: 50px;
  right: 20px;
  padding: 24px;
  width: 391px;
  height: auto;
  background-color: #FFF8F8;
  .nav-ul, p{
    width: 100%;
  }
  p{
    height: 36px;
    text-align: center;
    font-family: Gelasio;
    font-size: 16px;
    font-weight: 500;
  }
  .nav-ul{
    display: flex;
    flex-direction: column;
    li{
        list-style-type: none;
        border-bottom: 1px #7A564C solid; 
        padding: 12px 0px;
        a{
            text-transform: uppercase;
            font-family: Merriweather;
            color: #966D50;
            text-decoration: none;
            font-family: Inter;
            font-size: 36px;
            font-weight: 700;
        }
      }
  }
}

#first-li{
  border-top: 1px #7A564C solid; 
}

#last-li{
  border-bottom: 1px #7A564C solid; 
}

.nav.active {
  display: flex;
}

header{
  padding: 16px 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000; 
  margin: 0;
  /* border-bottom: #966D50 1px solid; */
  background-color: #F8EFE6;
}

.header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
}

.header-content-2{
  display: flex;
  justify-content: space-between;
  gap: 48px;
  ul{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
    li{
      list-style-type: none;
    }
  }
}

#cart-btn{
  all: unset;
}

.header-button{
    all:unset;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #966D50;
    font-size: 20px;
    font-weight: 500;
    font-family: Inter;
}

#home-btn{
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F8EFE6;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 30px;
  top: 20px;
}

.header-button:hover{
  text-decoration: underline;
}

.header-logo{
  display: flex;
  gap: 32px;
  align-items: center;
}

.nav-ul-button{
  all: unset;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: Merriweather;
  color: #966D50;
  text-decoration: none;
  font-family: Inter;
  font-size: 36px;
  font-weight: 700;
  width: 100%;
}

.add-to-cart {
  all : unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 149px;
  height: 56px;
  background-color: #966D50;
  border-radius: 10px;
  font-family: "poppins", sans-serif;
  color: #F8EFE6;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.8px;
}

#cart-btn{
  position: relative;
}

#cart-button{
  display: block;
  all: unset;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #966D50;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 80%;
}

#cart-button.active{
   display: none;
}

.sect-3{
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  h2{
    font-size: 74px !important;
    border-bottom: 1px #966D50 solid;
    padding: 24px 8%;
    font-family: Inter;
    color: #966D50;
    font-weight: 700;
    font-size: 128px;
  }
}

.sect-3-pp{
  padding: 24px 8%;
  display: flex;
  flex-direction: column;
  gap: 96px;
  align-items: center;
  .pp{
    width: 100%;
    display: flex;
    justify-content: end;
    max-width: 1920px;
  }
  #pp{
    width: 100%;
    display: flex;
    justify-content: start;
    max-width: 1920px;
    p{
      text-align: start;
    }
  }
  p{
    color: #966D50;
    font-size: 30px;
    font-weight: 400;
    font-family: Inter;
    max-width: 600px;
    text-align: end;
  }
}

.faq {
  display: grid;
  grid-template-columns: 40% 60%;
  border-bottom: 1px #966D50 solid;
  border-top: 1px #966D50 solid;
  padding-top: 48px;
}

.faq-left {
  padding-right: 1rem;
  border-right: 1px #966D50 solid;
  display: flex;
  justify-content: end;
}
.faq-left-content{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
  padding-left: 3rem;
  h2{
  font-family: Merriweather;
  font-size: 44px;
  font-weight: 400;
  color: #966D50;
  }
  p{
      font-family: Merriweather;
      font-size: 18px;
      font-weight: 400;
      color: #966D50;
  }
}

.faq-right {
  display: flex;
  flex-direction: column;
}

.faq-item {
  border: 1px solid #c9a98e;
  overflow: hidden;
  border-bottom: 1px #966D50 solid;
}

.faq-item-content{
  width: 60%;
  padding: 0px 8px 24px 8px;
  border-right: 1px #966D50 solid;
}

.faq-question {
  width: 100%;
  background: #F8EFE6;
  border: none;
  padding: 1rem;
  font-weight: bold;
  text-align: left;
  cursor: pointer;
  position: relative;
  border-radius: 8px;
  font-family: Merriweather;
  font-size: 24px;
  font-weight: 400;
  color: #966D50;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}


.minus-icon {
  display: none;
}

.faq-item-content.active .plus-icon {
  display: none;
}

.faq-item-content.active .minus-icon {
  display: inline;
}


.faq-answer {
  max-height: 0;
  overflow: hidden;
  padding: 0 1rem;
  transition: max-height 0.4s ease, padding 0.4s ease;
  background: #F8EFE6;
  margin-top: -10px;
  border-radius: 0px 0px 8px 8px;
    font-family: Merriweather;
  font-size: 18px;
  font-weight: 400;
  color: #966D50;
}

.faq-item-content.active .faq-answer {
  max-height: 300px; 
  padding: 1rem;
}


footer{
  background-color: #F8EFE6;
  display: flex;
  justify-content: center;
  padding: 60px 20px;
    margin-top: 48px;
}

.footer-content-1{
      font-family: Inter;
    font-size: 48px;
    font-weight: 500;
    color: #966D50;
}

.footer-content{
  width: 75%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 48px;
}

.footer-content-2-2{
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  color: #966D50;
  height: 220px;
}
.footer-content-3{
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 40px;
  align-items: end;
  border-top: 1px #966D50 solid;
  p{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    color: #966D50;

  }
}

.a-div{
  display: flex;
  gap: 24px;
  a{
    text-decoration: none;
    color: #966D50;
  }
}

#add-to-cart-btn.added {
  background-color: green;
  color: white;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10% 0;
}

.product{
  width: 65%;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 36px;
}

.product-content-1{
  width: 40%;
  max-width: 400px;
  height: auto;
}

#product-image{
  width: 100%;
  height: auto;
}

.product-info{
  display: grid;
  grid-template-columns: 1fr 1fr;      
  gap: 16px;
}

.about{
  display: flex;
  flex-direction: column;
  gap: 36px;

  max-width: 340px;
  align-items: start;
}

.about-content{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#product-name{
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  color: #966D50;

}

#product-description{
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  color: #966D50;
}

#product-price{
  font-family: Poppins;
  font-size: 30px;
  font-weight: 500;
  color: #966D50;
}

#product-about{
  max-width: 340px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 300;
  color: #966D50;
  display: flex;
  align-items: center;
}

#add-to-cart-btn{
    all : unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 60px;
  background-color: #966D50;
  border-radius: 10px;
  font-family: "poppins", sans-serif;
  color: #F8EFE6;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.8px;
  width: 80%;
}

@media (max-width: 1500px) {
  .header-content{
    width: 80% !important;
  }
  .header-content-2{
    gap: 24px;
  }
  .product{
    width: 90%;
    margin: 0;
  }
}

@media (max-width: 1024px) {
  .product{
    flex-direction: column;
    align-items: center;
  }
  .product-content-1{
    width: 60%;
  }
  .product-info{
    padding: 16px 0;
  }
    #small-h2{
    font-size: 56px !important;
  }
  .first-ul{
    display: none !important;
  }
  #burger{
      display: block !important;  
  }
  .header-content{
    width: 90% !important;
  }
    #small-h2{
    font-size: 56px;
  }
  #cart-button {
    left: 22%;
    width: 16px;
    height: 16px;
    font-size: 12px;
    top: 0;
  }
    .faq{
    display: flex;
    flex-direction: column;
  }
  .faq-item{
    display: flex;
    justify-content: center;
  }
  .faq-item-content{
    border-left: 1px #966D50 solid;
    width: 90% !important;
  }
  .faq-question,.faq-answer{
    background-color: #fff;
  }
  .faq-question{
    font-size: 20px;
  }
  .faq-left-content,.faq-left{
    padding: 0px;
  }
  .faq-left{
    justify-content: center;
  }
  .faq-left-content{
    width: 80% !important;
    h2{
      font-weight: 700;
      font-size: 36px;
    }
  }
  .faq{
    gap: 64px;
  }
  .footer-content-3{
    flex-direction: column;
  }
    .footer-content-3{
    flex-direction: column;
    align-items: start;
    gap: 24px;
    padding: 24px 0px;
  }
  .a-div{
    flex-direction: column;
    gap: 8px;
  }
}
@media (max-width: 768px) {
  #home-btn{
    position: static;
  }
  header{
    padding: 14px 16px;
  }
  .img-card{
    min-height: 100px;
  }
  #cart-btn{
    svg{
      width: 22px;
      height: 22px;
    }
  }
  #small-h2{
    font-size: 36px !important;
  }
  .logo{
    svg{
      width: 98px;
      height: 34px;
    }
  }
    #burger{
    svg{
      width: 36px;
      height: 30px;
    }
  }
    #cart-button{
    left: 16%;
    width: 12px;
    height: 12px;
    font-size: 9px;
  }
    .sect-3-pp{
    padding: 24px 4%;
    gap: 24px;
    .pp{
      justify-content: start !important;
    }
    p{
      width: 100%;
      text-align: start;
      max-width: 310px;
      font-size: 20px;
    }
  }
    .footer-content{
    width: 100% !important;
    gap: 24px;
  }
}
@media (max-width: 480px) {
  .about{
    max-width: none;
    align-items: center;
  }
  .product-info{
    width: 100%;
    gap: 30px;
  }
  #add-to-cart-btn{
    width: 90%;
  }
  #product-about{
        max-width: none;
  }
  .product-info{
    grid-template-columns: 1fr; /* 1 колонка — все в стовпчик */
    grid-template-rows: auto auto;
  }
  .nav.active{
    width: 100% !important;
  }
  .logo{
    svg{
      width: 73px;
      height: 23px;
    }
  }
  .header-content{
    width: 100% !important;
  }
  header{
    padding: 8px 16px;
  }
  #cart-btn{
    svg{
        width: 18px !important;
        height: 18px !important;
    }
  }
  #burger{
    svg{
      width: 32px;
      height: 26px;
    }
  }
  .nav{
    gap: 48px;
    a{
      font-size: 24px !important;
    }
  }
  .nav.active{
    top: 0;
    right: 0;
  }
    .add-to-cart{
    width: 100%;
    height: 44px;
  }
  #cart-button{
    left: 14%;
    width: 10px;
    height: 10px;
    font-size: 8px;
  }
    #small-h2{
    font-size: 32px !important;
    padding: 22px 4%;
  }
    footer{
    padding: 0px;
  }
  .footer-content-1{
    padding: 0;
  }
  .footer-content{
    align-items: center;
    padding-top: 36px;
  }
  .footer-content-1,.footer-content-2,.footer-content-3{
    width: 100%;
    padding: 5%;
  }
  .footer-content-2{
    border-top: 1px #966D50 solid;
  }
}

#sect-1,
#small-h2,
#sect-2-h2,
#footer-content,
#faq-left-content {
  scroll-margin-top: 100px; /* Підлаштуй це під висоту твого хедера */
}