#shippingForm {
  max-width: 400px;
  margin: 30px auto 0px;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

#shippingForm h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

#shippingForm label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

#shippingForm input {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button-country{
    display: flex;
    justify-content: space-around;
}

button {
    background-color: #f44336;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 120px;
    height: 40px;
}
button:hover {
    background-color: #d32f2f;
}

#radio-p1, #radio-p2{
    margin: 0px;
}

select {
  appearance: none; /* ховає стрілочку браузера */
  background-color: #f8f8f8;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px 40px 10px 15px;
  font-size: 16px;
  color: #333;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 16px;
  transition: border-color 0.3s ease;
}

select:focus {
  outline: none;
  border-color: #0077ff;
  background-color: #eef6ff;
}